h1 {
    background: red;
}

.paragraph-1 {
    background-color: aqua;
    color: brown;
    font-size: 32pt;
}

.paragraph-2 {
    border: 10px solid yellow;
    font-size: 24pt;
    border-radius: 5px;
    margin-bottom: 60px;
    padding-left: 20px;
}
.paragraph-3 {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.paragraph-4 {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    text-shadow: 1px 1px 2px green;
}